CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y

CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_INITRAMFS=n

# printing 主体
CONFIG_PACKAGE_cups=m
CONFIG_PACKAGE_libcups=m
CONFIG_PACKAGE_libcupsimage=m
CONFIG_PACKAGE_libppd=m
CONFIG_PACKAGE_libcupsfilters=m
CONFIG_PACKAGE_cups-filters=m


CONFIG_PACKAGE_ghostscript=m
CONFIG_PACKAGE_ghostscript-fonts-std=m

CONFIG_PACKAGE_foomatic-filters=n
CONFIG_PACKAGE_openprinting-cups-filters=n

CONFIG_PACKAGE_gutenprint=m
CONFIG_PACKAGE_splix=n
CONFIG_PACKAGE_foo2zjs=m
CONFIG_PACKAGE_foo2zjs-extra=n

# printing 依赖库
CONFIG_PACKAGE_dbus=m
CONFIG_PACKAGE_cairo=m
CONFIG_PACKAGE_lcms2=m
CONFIG_PACKAGE_libjbigkit=m
CONFIG_PACKAGE_libpng=m
CONFIG_PACKAGE_libjpeg-turbo=m
CONFIG_PACKAGE_zlib=m
CONFIG_PACKAGE_poppler=m
CONFIG_PACKAGE_qpdf=m

# 禁用 OCR
CONFIG_PACKAGE_tesseract=n
CONFIG_PACKAGE_leptonica=n
CONFIG_PACKAGE_tesseract-data-eng=n

# 禁用系统核心包
CONFIG_PACKAGE_base-files=n
CONFIG_PACKAGE_busybox=n
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dropbear=n
CONFIG_PACKAGE_firewall=n
CONFIG_PACKAGE_uci=n
CONFIG_PACKAGE_opkg=n
CONFIG_PACKAGE_netifd=n
CONFIG_PACKAGE_procd=n

# 禁用网络相关
CONFIG_PACKAGE_ppp=n
CONFIG_PACKAGE_ipv6helper=n
CONFIG_PACKAGE_swconfig=n
CONFIG_PACKAGE_wireless-tools=n
CONFIG_PACKAGE_wpad=n
CONFIG_PACKAGE_hostapd=n
CONFIG_PACKAGE_iw=n

# 禁用内核模块
CONFIG_ALL_KMODS=n

# 禁用所有非 printing 包
CONFIG_ALL=n
CONFIG_ALL_NONSHARED=n

# 禁用会污染 world 的杂包
CONFIG_PACKAGE_exim=n
CONFIG_PACKAGE_onionshare-cli=n
CONFIG_PACKAGE_python-zope-event=n
CONFIG_PACKAGE_python-zope-interface=n
CONFIG_PACKAGE_python3-pysocks=n
CONFIG_PACKAGE_python3-unidecode=n
CONFIG_PACKAGE_libcrypt-compat=n
